// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 380px;
	background: url('#{$path--rel}/bg-main.jpg'),
	            linear-gradient(#f74425, #fff);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}